@model Hospitalproject.Models.HomeRemedies
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Details for @Model.HomeRemedies_title</h2>
        <a href="/HomeRemedies/List">Back to List</a>
        <div>
            <div>Title:@Model.HomeRemedies_title</div>
            <div>Description:@Model.HomeRemedies_desc</div>
            
        </div>
        <div class="controls">
            <a href="/HomeRemedies/Update/@Model.HomeRemedies_id" class="control-button">Update</a>
            <a href="/HomeRemedies/Delete/@Model.HomeRemedies_id" class="control-button">Delete</a>
        </div>

    </div>
</body>
</html>
