@{
    ViewBag.Title = "New Remedy Url";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Remedy Source</title>
</head>
<body>
    <h2>Add Remedy Source</h2>
    <a href="/RemedySource/List">Back to List</a>
    <div>
        <form method="POST" action="/RemedySource/New">
            <div>
                <label for="RemedySource_name">Name:</label>
                <input type="text" name="RemedySource_name" id="RemedySource_name" />
            </div>
            <div>
                <label for="RemedySource_url">URL:</label>
                <input type="url" name="RemedySource_url" id="RemedySource_url" />
            </div>

            <div>
                <input type="submit" value="Add" />
            </div>
        </form>

    </div>
</body>
</html>

