@model Hospitalproject.Models.SocialServiceClubs
@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Are you sure you want to delelte this Social Service Club?</h2>

        <a href="/SocialServiceClubs/List">No</a>
        <div>Title:@Model.SocialServiceClubs_title</div>
        <div class="controls">
            <form method="post" action="/SocialServiceClubs/Delete/@Model.SocialServiceClubs_id">
                <input type="submit" value="Delete" />
            </form>
        </div>

    </div>
</body>
</html>
